---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../components/Icons/Briefcase.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Code from '../components/Icons/Code.astro';
import ProfileCheck  from '../components/Icons/ProfileCheck.astro';
import AboutMe from '../components/AboutMe.astro';
---


<Layout 
title="Welcome to my portfolio." description="Contrata a Bruno para desarrolar tus paginas y aplicaciones web">
	
<a href="https://www.linkedin.com/in/bruno-corvalan-1a9766169/"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" /><path d="M8 11l0 5" /><path d="M8 8l0 .01" /><path d="M12 16l0 -5" /><path d="M16 16v-3a2 2 0 0 0 -4 0" /></svg></a>
</Layout>