---
 const personalImageAlt = "Bruno"
 import {Image} from "astro:assets"
---

<article class="flex flex-col items-center justify-center gap-8 text-white-700 dark:text-gray-300 md:flex-row">
  <div
   class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-white [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"

  >
    <p>
      <p>
        ¡Hola! Soy Bruno Corvalan, un apasionado desarrollador web con más de 4 años de experiencia en el campo. Mi viaje en la programación comenzó durante la secundaria, donde asistí a una escuela técnica y exploré el fascinante mundo de la codificación desde el tercer año.
      </p>
      
      <p>
        Actualmente, estoy inmerso en mi segundo año de la carrera de Ingeniería en Sistemas en la Universidad de Buenos Aires (UBA). Además, estoy cursando la carrera de Desarrollador Full-stack en CoderHouse, donde amplío mis conocimientos y perfecciono mis habilidades.
      </p>
      
      <p>
       Mi enfoque principal es el desarrollo web. Poseo conocimientos sólidos en varios lenguajes de programación, diversos frameworks y he trabajado con diversas APIs.
      </p>
      
      <p>
        Como entusiasta tecnológico, me mantengo al tanto de las últimas tendencias en desarrollo y las nuevas tecnologías emergentes. Además, como pasatiempo, me sumerjo en la creación de mods y modificaciones para diferentes juegos, explorando la creatividad y la programación de manera lúdica.
      </p>
      
      
    </p>
  </div>

  <Image width="200" height="200" src="/bruno2.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>