<ol class="items-center sm:flex">
    <li class="relative mb-6 sm:mb-0">
        <div class="flex items-center">
            <div class="z-10 flex items-center justify-center w-6 h-6 bg-orange-500 rounded-full ring-0 ring-white dark:bg-orange-900 sm:ring-8 dark:ring-gray-900 shrink-0">
                <!-- Primer círculo -->
            </div>
            <div class="hidden sm:flex w-full bg-orange-500 h-0.5 dark:bg-orange-900"></div>
        </div>
        <div class="mt-3 sm:pe-8">
            <h3 class="text-lg font-semibold text-white">Mi correo:</h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">brunocorvalanc@gmail.com</time>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400"></p>
        </div>
    </li>
    
    <li class="relative mb-6 sm:mb-0">
        <div class="flex items-center">
            <div class="z-10 flex items-center justify-center w-6 h-6 bg-orange-500 rounded-full ring-0 ring-white dark:bg-orange-900 sm:ring-8 dark:ring-gray-900 shrink-0">
                <!-- Segundo círculo -->
            </div>
            <div class="hidden sm:flex w-full bg-orange-500 h-0.5 dark:bg-orange-900"></div>
        </div>
        <div class="mt-3 sm:pe-8">
            <h3 class="text-lg font-semibold text-white">Mi numero:</h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">+541168532139</time>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400"></p>
        </div>
    </li>
    
    <!-- Puedes agregar más elementos li según sea necesario -->
</ol>