<div class="flex items-center bg-gray-800 border border-gray-200 rounded-lg shadow-md max-w-xl hover:bg-gray-700 dark:border-gray-700 dark:bg-gray-900 dark:hover:bg-gray-700 mb-4">
    <img class="object-cover w-16 h-16 rounded-l-lg md:w-48 md:h-auto md:rounded-none md:rounded-l-none" src="Images/prog.png" alt="Project Image">
    <div class="flex flex-col p-4">
        <h5 class="mb-2 text-xl font-bold text-white/80">Este portafolio</h5>
        <p class="mb-3 text-gray-400">Creado con Astro, HTML, CSS y TailwindCSS.</p>
    </div>
</div>

<div class="flex items-center bg-gray-800 border border-gray-200 rounded-lg shadow-md max-w-xl hover:bg-gray-700 dark:border-gray-700 dark:bg-gray-900 dark:hover:bg-gray-700 mb-4">
    <img class="object-cover w-16 h-16 rounded-l-lg md:w-48 md:h-auto md:rounded-none md:rounded-l-none" src="Images/prog2.png" alt="Project Image">
    <div class="flex flex-col p-4">
        <h5 class="mb-2 text-xl font-bold text-white/80">Paginas Web (My-corgi, My-trip)</h5>
        <p class="mb-3 text-gray-400">Creadas con PHP, CSS, SCSS, Bootstrap, Node.js. Ambas páginas web fueron creadas como parte del curso de Desarrollador Full-stack emitido por CoderHouse.</p>
    </div>
</div>

<div class="flex items-center bg-gray-800 border border-gray-200 rounded-lg shadow-md max-w-xl hover:bg-gray-700 dark:border-gray-700 dark:bg-gray-900 dark:hover:bg-gray-700 mb-4">
    <img class="object-cover w-16 h-16 rounded-l-lg md:w-48 md:h-auto md:rounded-none md:rounded-l-none" src="Images/prog3.png" alt="Project Image">
    <div class="flex flex-col p-4">
        <h5 class="mb-2 text-xl font-bold text-white/80">Proyectos individuales</h5>
        <p class="mb-3 text-gray-400">Scripts, mods y otras cosas desarrolladas para practicar.</p>
    </div>
</div>

<div class="flex items-center bg-gray-800 border border-gray-200 rounded-lg shadow-md max-w-xl hover:bg-gray-700 dark:border-gray-700 dark:bg-gray-900 dark:hover:bg-gray-700 mb-4">
    <img class="object-cover w-16 h-16 rounded-l-lg md:w-48 md:h-auto md:rounded-none md:rounded-l-none" src="Images/prog4.png" alt="Project Image">
    <div class="flex flex-col p-4">
        <h5 class="mb-2 text-xl font-bold text-white/80">Proyectos Freelance</h5>
        <p class="mb-3 text-gray-400">Aplicaciones y sitios web creados a partir de peticiones especificas</p>
    </div>
</div>


