</div>
<div class="mb-1 text-base font-medium text-white dark:text-purple-500">PHP</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
  <div class="bg-purple-500 h-2.5 rounded-full" style="width: 95%"></div>
</div>
</div>
<div class="mb-1 text-base font-medium text-white dark:text-purple-500">HTML</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
  <div class="bg-purple-500 h-2.5 rounded-full" style="width: 95%"></div>
</div>
<div class="mb-1 text-base font-medium text-white dark:text-purple-500">WordPress</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
  <div class="bg-purple-500 h-2.5 rounded-full" style="width: 80%"></div>
</div>
</div>
<div class="mb-1 text-base font-medium text-white dark:text-purple-500">CSS/SCSS</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
  <div class="bg-purple-500 h-2.5 rounded-full" style="width: 92%"></div>
</div>
</div>
<div class="mb-1 text-base font-medium text-white dark:text-purple-500">Bootstrap</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
  <div class="bg-purple-500 h-2.5 rounded-full" style="width: 80%"></div>
</div>
<div class="mb-1 text-base font-medium text-white dark:text-purple-500">React</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
  <div class="bg-purple-500 h-2.5 rounded-full" style="width: 80%"></div>
</div>
</div>
<div class="mb-1 text-base font-medium text-white dark:text-purple-500">Node.js</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
  <div class="bg-purple-500 h-2.5 rounded-full" style="width: 78%"></div>
</div>
</div>
<div class="mb-1 text-base font-medium text-white dark:text-purple-500">Java</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
  <div class="bg-purple-500 h-2.5 rounded-full" style="width: 75%"></div>
</div>
</div>
<div class="mb-1 text-base font-medium text-white dark:text-purple-500">JavaScript</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
  <div class="bg-purple-500 h-2.5 rounded-full" style="width: 79%"></div>
</div>
<div class="mb-1 text-base font-medium text-white dark:text-purple-500">TypeScript</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
  <div class="bg-purple-500 h-2.5 rounded-full" style="width: 79%"></div>
</div>
<div class="mb-1 text-base font-medium text-white dark:text-purple-500">Angular</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
  <div class="bg-purple-500 h-2.5 rounded-full" style="width: 82%"></div>
</div>
<div class="mb-1 text-base font-medium text-white dark:text-purple-500">Flutter/Kotlin</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
  <div class="bg-purple-500 h-2.5 rounded-full" style="width: 80%"></div>
</div>
</div>
<div class="mb-1 text-base font-medium text-white dark:text-purple-500">SQL y MySQL</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
  <div class="bg-purple-500 h-2.5 rounded-full" style="width: 58%"></div>
</div>
<div class="mb-1 text-base font-medium text-white dark:text-purple-500">Oracle</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
  <div class="bg-purple-500 h-2.5 rounded-full" style="width: 58%"></div>
</div>
</div>
<div class="mb-1 text-base font-medium text-white dark:text-purple-500">Python</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
  <div class="bg-purple-500 h-2.5 rounded-full" style="width: 88%"></div>
</div>
</div>
<div class="mb-1 text-base font-medium text-white dark:text-purple-500">Ruby</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
  <div class="bg-purple-500 h-2.5 rounded-full" style="width: 50%"></div>
</div>
</div>
<div class="mb-1 text-base font-medium text-white dark:text-purple-500">Amazon Web Services</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
  <div class="bg-purple-500 h-2.5 rounded-full" style="width: 70%"></div>
</div>
<div class="mb-1 text-base font-medium text-white dark:text-purple-500">Microsoft Azure: App Services</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
  <div class="bg-purple-500 h-2.5 rounded-full" style="width: 87%"></div>
</div> 
